<section class='button-container'>
<%= link_to "Make a New Blog", "/blogs/new", class: 'button' %>
</section>

<section id='blog-list'>
  <% @blogs.each do |blog| %>
    <div class="short-summary">
      <%= link_to blog.title, "/blogs/#{blog.id}" %>
       by
      <%= link_to blog.author.username, "/users/#{blog.author.id}" %>
    </div>
  <% end %>
</section>
