<%= link_to "Make a New Blog", "/blogs/new" %>

<section id='blog-list'>
  <% @blogs.each do |blog| %>
    <div class="blog-summary">
      <%= link_to blog.title, "/blogs/#{blog.id}" %>
    </div>
  <% end %>
</section>
