<section class='individual-post'>
  <h4><%= link_to post.title, "/blogs/#{post.blog.id}/posts/#{post.id}" %></h4>
  <% if post.content.length > 150 %>
    <p><%= "#{post.content[0..150]}..." %></p>
  <% else %>
    <p><%= post.content %></p>
  <% end %>
</section>
