<% if logged_in? && current_user.id == @blog.author.id %>
  <%= link_to 'Edit', "/blogs/#{@blog.id}/posts/#{@post.id}/edit" %>
  <%= link_to 'Delete', "/blogs/#{@blog.id}/posts/#{@post.id}", method: :delete %>
<% end %>
<h4><%= link_to @post.title, "/blogs/#{@blog.id}/posts/#{@post.id}" %></h4>
<p><%= @post.content %></p>
