/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: thunder_strike;
  src: url(font-path('thunder_strike.ttf'));
 }

 body {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
 }


a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #743B71;
}

.link {
  margin-bottom: 30px;
  /*vertical-align: top;*/
 }

#logo img {
  margin-left: 20px;
  width: 200px;
  display: inline-block;
}

#logo-div {
  display: inline-block;
  position: relative;
  top: -60px;
}

#logo-title {
  display: inline-block;
  margin-left: 30px;
  margin-top: 0px;
  /*border: 1px solid black;*/
  font-size: 75px;
}

#logo {
  position: relative;
  float: left;
  display: inline-block;
}

header {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /*border: 1px solid black;*/
  border-bottom: 5px solid black;
  background-color: #CEDFCF;
  overflow: auto;
}
/*
footer {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /*border: 1px solid black;*/
/*  border-bottom: 5px solid black;
  background-color: #CEDFCF;
  overflow: auto;
  float: bottom;
}*/

/*header h1 {
  border: 1px solid black;
  float: left;
  width: 600px;
  display: inline-block;
}*/

header nav {
  /*margin-left: 600px;*/
  float: right;
  display: inline-block;
  /*border: 1px solid black;*/
  margin-top: 100px;
font-size: 25px;
}

.link {
  margin: auto 20px;
}

main {
  clear: both;
}

#blog-list {
  margin: 20px auto;
  /*border: 2px solid black;*/
  text-align: center;
}

.short-summary {
  display: block;
  margin: 20px auto;
  text-decoration: none;
}

.button-container {
  margin: 30px auto;
  /*border: 1px solid black;*/
  width: 400px;
  display: block;
  overflow: auto;
}
.button {
  display: block;
  padding: 30px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 30px;
}

.button:hover {
  background-color: #743B71;
  color: white;
}

.summary {
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  min-height: 70px;
  margin: 20px auto;
  background-color: #d2d2d2;
  padding: 10px;
}

.short-summary {
  padding-top: 40px;
  font-size: 30px;
}

.comment-list {
  width: 70%;
  margin: 20px auto;
  text-align: left;
  padding: 5px;
}

.title {
  font-size: 50px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#post-content {
  width: 70%;
  margin: 30px auto;
  text-align: left;
  padding: 5px;
}

.change {
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: 120px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.post {
  width: 300px;
}

.tag-summary {
  padding-top: 50px;
  font-size: 20px;
}

.tag-container {
  width: 50%;
  overflow: auto;
  margin: 10px auto;
  display: block;
}

.tag {
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  /*font-size: 16px;*/
  min-height: 20px;
  background-color: #743B71;
  color: white;
}

.tag a {
  color: white;
}